@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url('./assets/RobotoMono-Regular.ttf');
}

*{
  font-family: 'Roboto Mono', monospace;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  background: url("./assets/landing.jpg") no-repeat;
  background-size: cover;
}

.home-container > * {
  margin-top: 50px;
  margin-left: 460px;
}